In [7]:
# Importando librerias
import pandas as pd
import numpy as np

In [10]:
datadf = pd.read_csv("data.csv", sep = ";")
datadf.head()

,id,Gender,Python_user,R_user,Age,Publications,Tasks,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Year
0,1,female,yes,yes,38.0,33,Postdoctoral_research,5,5,5,3,3,2,5,4,5,4,2004
1,2,male,no,yes,36.0,31,Postdoctoral_research,3,4,4,4,4,3,5,4,4,2,2002
2,3,male,yes,no,30.0,19,PhD_Student,5,5,5,4,5,4,5,4,5,5,2016
3,4,female,yes,no,42.0,29,Phd_Supervisor,4,4,4,3,3,4,4,2,3,4,2007
4,5,female,yes,no,37.0,31,PhD_Student,4,3,5,2,4,4,5,3,5,4,2001

# Categorical variables
<h2>A suggestion of the descriptive analysis of Gender</h2>

In [11]:
### Gender descriptive analysis
# Count of each factor level of the Gender variable
datadf['Gender'].value_counts()

male      113
female     87
Name: Gender, dtype: int64

In [14]:
datadf.shape

(200, 18)

In [15]:
# Filtering Gender data
gender_datadf = datadf['Gender']

# Group by Gender value
gender_datadf = pd.DataFrame(gender_datadf.value_counts(sort=True))

# Create new column with cumulative sum
gender_datadf['cum_sum'] = gender_datadf['Gender'].cumsum()

# Create new column with relative frequency
gender_datadf['cum_perc'] = 100*gender_datadf['cum_sum']/gender_datadf['Gender'].sum()

# Show values
gender_datadf

        Gender  cum_sum  cum_perc
male       113      113      56.5
female      87      200     100.0